// app

.app {
  margin: 20px 0px;
  
  .back {
    .btn-back {
      background-color: white;
      border-radius: 5px;
      padding: 5px;
      margin: 10px 0px;
      border: 1px solid grey;
      &:active {
        background-color: grey;
      }
    }
  }
}